/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.table-container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.cancel-button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.submit-button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  width: 25%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    cursor: pointer;

    td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    th {
      cursor: default;
      background-color: #ddd;
      padding: 10px;
      text-align: left;
    }
  }
}



.mat-dialog-actions {
  justify-content: space-between;
}